#queue-header {
    display: grid;
    grid-template-columns: 53% 15% 12% 20%;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: var(--fourth-background-layer);
    overflow: hidden;
}

#queue-header >div {
    padding-top: 0px;
    font-size: 4.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header-name {
    padding-left: 10px;

}
#header-channel {
    padding-left: 5px;
}

#header-length {
    text-align: right;
    padding-right: 25px;
}
#header-time {
    text-align: center;
}