.queue-row {
    display: grid;
    grid-template-columns: 53% 16.5% 8% 22.5%;
    margin-bottom: 0px;


    background-color: rgba(180, 180, 180, 0.479);
    /*background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(7, 1, 70, 0.644));
    */
    border-bottom: 2px;
    border-bottom-color: rgba(158, 158, 158, 0.692);
    border-bottom-style: outset;

    font-size: 40px;
    font-weight: 600;
    color: var(--general-font-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 50px;
}

.queue-row >div {
    height: 100%;

    overflow: hidden;

}

.service-name {
    padding-left: 5px;
}
.service-channel {
    padding-left: 5px;
}

.service-length {
    text-align: right;
    padding-right: 25px;
}
.service-time {
    text-align: center;
}

.queue-row #green {
    background-color: rgba(108, 180, 1, 0.753);
}

.queue-row #yellow {
    background-color: rgba(255, 166, 0, 0.726);
}

.queue-row #red {
    background-color: rgba(206, 2, 2, 0.76);
}