
.queue-alarm-modal {
    z-index: 2 !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0px;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    font-size: 16vh;
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.queue-alarm-modal >div {
    overflow: hidden;

}

.alarm-white {
    background-color: rgba(238, 251, 255, 0.582);
}

.alarm-yellow {
    background-color: rgba(238, 255, 0, 0.945);
}

.timer {

}

.red {
    color: rgb(255, 0, 0);
}

.blue {
    color: rgb(0, 13, 134);
}