.queue-header {
    display: grid;
    grid-template-columns: 53% 15% 12% 20%;
    margin-left: 20px;
    margin-right: 20px;
}

.queue-header >div {
    background-color: var(--fourth-background-layer);
    /*background-color: var(--header-background-color);*/
    margin: 2px;
    padding-top: 10px;
    border-radius: 10px;

    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-name {
    padding-left: 5px;
}
.header-channel {
    padding-left: 5px;
}

.header-length {
    text-align: right;
    padding-right: 25px;
}
.header-time {
    text-align: center;
}