.queue-row {
    display: grid;
    grid-template-columns: 53% 15% 12% 20%;
    margin-bottom: 0px;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-color: rgba(180, 180, 180, 0.479);
    border-bottom: 2px;
    border-bottom-color: rgba(158, 158, 158, 0.692);
    border-bottom-style: outset;
}

.queue-row >div {
    font-size: 25px;
    
    height: 100%;
    line-height: 50px;
    overflow: hidden;
}

.service-name {
    padding-left: 5px;
}
.service-channel {
    padding-left: 5px;
}

.service-length {
    text-align: right;
    padding-right: 25px;
}
.service-time {
    text-align: center;
}

.queue-row #green {
    background-color: rgba(108, 180, 1, 0.753);
}

.queue-row #yellow {
    background-color: rgba(255, 166, 0, 0.726);
}

.queue-row #red {
    background-color: rgba(206, 2, 2, 0.76);
}