/*colors in app.css*/
.agent-header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 5px;
    background-color: var(--fourth-background-layer);
    border-radius: 10px;
    font-size: 4.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.agent-count {
    display: grid;
    grid-template-columns: calc(100% - 60px) 60px;
}

.agent-header #right {
    text-align: right;
}

.agent-header #left {
    text-align: left;
}

.agent-header #center {
    text-align: center;
}