.AgentGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    color: beige;
 }


.Agent {
    display: grid;
    grid-template-rows: 55% 45%;
    margin: 2px;
    margin-left: 5px;
    height: 100px;
    border: 2px;
    border-color: grey;
    border-style: ridge;
    padding-left: 5px;
}

.AgentName {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}
.AgentStatus {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}

#free {
    background-color: rgb(109, 180, 1);
}

#reserved {
    background-color: orange;
}

#busy {
    background-color: rgb(206, 2, 2);
}
