/*colors in app.css*/
.StatusBoard {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;


}

.StatusCount {
    margin: 2px;
    display: grid;
    grid-template-columns: calc(100% - 50px) 50px;
    background-color: var(--fourth-background-layer);
    padding-top: 10px;
    border-radius: 10px;
}

.StatusCount >div {
    margin: 2px;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#number {
    text-align: right;
}