.StatusBoard {
    height: 7%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 2px;
    margin-right: 3px;
}

.StatusCount {
    margin: 2px;
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: rgb(224, 224, 224);
    padding-top: 2.5%;
}

.StatusCount >div {
    margin: 2px;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}