.StatusBoard {
    height: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: red;
    margin: 0px;
}

.StatusCount {
    margin: 2px;
    display: grid;
    grid-template-columns: 85% 15%;
    background-color: white;
}

.StatusCount >div {
    margin: 2px;
    background-color: grey;
    font-size: 24px;
}