.agent-container {
    background-color: rgb(224, 220, 220);
    height: 99%;
    overflow: auto;
    border: var(--section-border-size);    
    border-color: var(--section-border-color);
    border-style: var(--section-border-style);
    padding-left: 1%;
}

.agent-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
 }
 
.result-grid {
    height: 90px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
} 

.Agent {
    padding: 8px;
    margin: 1%;
    width: 90%;
    height: 80px;
    border: 2px;
    border-color: grey;
    border-style: ridge;
}

h3 {
    font-size: 20px;
    margin: 0px;
    font-weight: 700;
}

p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}