:root {
  --options-button-heigth: 40px;
  --options-button-width: 120px;
}

.options {
    position: relative;
    display: inline-block;
    margin: 10px;
  }

  /*background-color: #f1f1f1;*/
.content {
    display: none;
    position: absolute;
    min-width: var(--options-button-width);
    z-index: 1;
  }

.content.team {
  bottom: 100%;
  background-color: blue;
}

.content.channel {
  bottom: 200%;
  background-color: red;
}

.item {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 100%;
  z-index: 1;
}

.item button {
  background-color: green;
}


/* button id effects */
.item button#Selected {
  background-color: rgb(166, 166, 255);
}

.item button#Unselected {
  background-color: rgb(175, 173, 173);
}


/*shows direct child div elements on hover*/
.options:hover >div {
    display: block;
}

.options > button:focus .options > div {
  display: block;
}

.content:hover >div {
  display: block;
  background-color: white;
}



/*just visual effects*/
.options button:hover {
  background-color: #ccc;
}

.options button:focus {
  background-color: red;
}