.buttons {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  padding: 2px;

}
.buttons >button {
  width: 100%;
  height: 50px;
}
.buttons >p {
  margin-block-start: 0px;
  margin-block-end: 0px; 
}

/*ALL MODAL STUFF*/

.modal-box {
  position: absolute;
  z-index: 1;
  bottom: 15%;
  left: 29.6%; /*some inherit stuff to get it central?*/
  width: 800px;
  height: 700px;
  background-color: whitesmoke;
}

.modal-box#show {
  display: grid;
  grid-auto-columns: 50% 50%;
  grid-auto-rows: 100%;
}
.modal-box#hide {
  display: none;
}

.modal-box >button {
  width: 50px;
  height: 30px;
}

.modal-list {
  overflow: auto;
  background-color: rgba(99, 98, 98);;
  padding: 10%;
}

.modal-search >button {
  width: 100%;
  height: 40px;
  overflow: hidden;
  padding: 0px;
}


/* HELP Modal - probably could combine these somehow */
.help-modal {
  position: absolute;
  z-index: 1;
  bottom: 15%;
  left: 29.6%; /*some inherit stuff to get it central?*/
  width: 800px;
  height: 700px;
  background-color: whitesmoke;
}

.help-modal#show {
  display: grid;
  grid-auto-columns: 50% 50%;
  grid-auto-rows: 100%;
}
.help-modal#hide {
  display: none;
}




/* button id effects */

#Selected {
  background-color: rgb(166, 166, 255);
}

#Unselected {
  background-color: rgb(175, 173, 173);
}

/*shows direct child div elements on hover*/
.buttons:hover >div {
    display: block;
}

.buttons >button:hover {
  background-color: #ccc;
}