.queue-section {
    --list-color: rgb(224, 220, 220);
}

.email-list {
    padding: 0px;
    height: 48%;
    background-color: var(--list-color);
    overflow-y: scroll;
    border: var(--section-border-size);    
    border-color: var(--section-border-color);
    border-style: var(--section-border-style);
}

.call-list {
    margin-bottom: 1%;
    height: 49%;
    background-color: var(--list-color);
    overflow-y: scroll;
    border: var(--section-border-size);    
    border-color: var(--section-border-color);
    border-style: var(--section-border-style);
}


.queue-row {
    display: grid;
    grid-template-columns: 53% 20% 10% 17%;
    background-color: rgb(213, 252, 252);
    margin: 0px;
    border-bottom: 2px;
    border-bottom-color: grey;
    border-bottom-style: ridge;
}

.queue-row >div {
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-right: 2px;
    border-right-color: grey;
    border-right-style: ridge;
    margin: 0px;
    height: 100%;
    line-height: 50px;
    padding-left: 1px;
    overflow: hidden;
}

#content {
    z-index: 0;
    position: relative;
}

#background {
    margin: 8%;
    z-index: 0;
    position: absolute;
    opacity: 0.5;
}

.queue-row >div#green {
    background-color: rgb(110, 197, 110);
}

.queue-row #yellow {
    background-color: yellow;
}

.queue-row >div#red {
    background-color: rgb(255, 125, 125)
}
