.agent-container {
    margin: 5px;
    height: calc(100% - 10px);
    display: grid;
    grid-template-rows: 7% 93%
}

.agent-list {
    background-color: var(--tertiary-background-color);
    border: var(--container-border-size);
    border-color: var(--container-border-color);
    border-style: var(--container-border-style);
    border-radius: 10px;
    overflow-y: auto;
    /*
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar) var(--scroll-back);
    */
}

.agent-background {
    margin-left: 10vh;
    margin-top: 25vh;
    position: absolute;
    opacity: 0.5;
    font-weight: 700;
    font-size: 12vh;
}
