.agent-container {
    position: inherit;
    height: 93%;
    border: var(--section-border-size);    
    border-color: var(--section-border-color);
    border-style: var(--section-border-style);
    overflow-y: scroll;
    margin-right: 5px;
}


.container {
    height: 99.5%;
    position: inherit;
    padding-bottom: 5px;
}