.queue-container {
    display: grid;
    grid-template-rows: 7% 47% 46%;
    margin: 5px;
    height: calc(100% - 10px);

    /*6.2% is approx 1 queue row*/
}

.email-list {
    background-color: var(--tertiary-background-color);
    overflow-y: auto;
    border: var(--container-border-size);
    border-color: var(--container-border-color);
    border-style: var(--container-border-style);
    border-radius: 10px;
    /*
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar) var(--scroll-back);
    */
}

.call-list {
    border-radius: 10px;
    background-color: var(--tertiary-background-color);
    overflow-y: auto;
    border: var(--container-border-size);
    border-color: var(--container-border-color);
    border-style: var(--container-border-style);
    margin-bottom: 5px;
    /*
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar) var(--scroll-back);
    */
}

.email-list #vip-alarm-yellow {
    background-color: rgba(255, 166, 0, 0.726);
}

.email-list #vip-alarm-red {
    background-color: rgba(206, 2, 2, 0.76);
}

.list-background {
    margin-left: 200px;
    margin-top: 170px;
    position: absolute;
    opacity: 0.5;
}
