.queue-section {
    display: grid;
    grid-template-rows: 7% 47% 46%
    /*6.2% is approx 1 queue row*/
}

.email-list {
    background-color: var(--tertiary-background-color);
    overflow-y: scroll;
    border: var(--section-border-size);    
    border-color: var(--section-border-color);
    border-style: var(--section-border-style);
    border-radius: 10px;
}

.call-list {
    border-radius: 10px;
    margin-top: 2px;
    margin-bottom: 5px;

    background-color: var(--tertiary-background-color);
    overflow-y: scroll;
    border: var(--section-border-size);    
    border-color: var(--section-border-color);
    border-style: var(--section-border-style);
}

#content {
    z-index: 0;
    position: relative;
}

#background {
    margin: 8%;
    z-index: 0;
    position: absolute;
    opacity: 0.5;
}
