/* HELP Modal - probably could combine these somehow */
.help-modal {
    position: absolute;
    z-index: 1;
    top: 5vh;
    left: calc(50% - 400px); /*some inherit stuff to get it central?*/
    width: 800px;
    height: 700px;
    background-color: whitesmoke;
    padding-left: 30px;
    overflow-y: auto;
  }
  
  .help-modal#show {
    display: block;
  }
  .help-modal#hide {
    display: none;
  }