.statistics {
    display: grid;
    grid-template-rows: 100%;
    color: rgb(255, 255, 255);
    font-size: 33px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: nowrap;
}

.stats-row {
    display: grid;
    grid-template-columns: 26% 37% 37%;
    grid-template-rows: 100%;
}

.stats-row div {
    overflow: hidden;
}


.stats-count {
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: right;
}



