.statistics {
    display: grid;
    grid-template-rows: 100%;
    color: rgb(255, 255, 255);
    font-size: 3.8vh;
    font-weight: 600;
    font-family: serif;
    white-space: nowrap;
}

.stats-row {
    display: grid;
    grid-template-columns: 26% 37% 37%;
    grid-template-rows: 100%;
}



.stats-count {
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: right;
}



