#queue-container {
    display: grid;
    grid-template-rows: 7% 47% 46%;
    margin: 5px;
    height: calc(100% - 10px);
    overflow: hidden;
}

#email-list {
    position: relative;
    background-color: var(--tertiary-background-color);
    overflow-y: auto;
    border: var(--container-border-size);
    border-color: var(--container-border-color);
    border-style: var(--container-border-style);
    border-radius: 10px;
    /*
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar) var(--scroll-back);
    */
}

#call-list {
    position: relative;
    border-radius: 10px;
    background-color: var(--tertiary-background-color);
    overflow-y: auto;
    border: var(--container-border-size);
    border-color: var(--container-border-color);
    border-style: var(--container-border-style);
    margin-bottom: 5px;
    /*
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar) var(--scroll-back);
    */
}

.list-background {
    margin-left: 5vh;
    margin-top: 8vh;
    opacity: 0.5;
    font-size: 12vh;
    font-weight: 700;
}
