:root {
  --min-width: 1500px;
  --min-height: 800px;
  min-width: var(--min-width);
  min-height: var(--min-height);
}

.main {
  min-width: var(--min-width);
  min-height: var(--min-height);
  height: 100%;
  width: 100%;

  grid-template-columns: 50% 50%;
  grid-template-rows: 88% 12%;
  position: absolute;
  display: grid;
}

.queue-section {
  background-color: rgb(241, 85, 85);
  grid-column: 1;
  grid-row: 1;
}
.agent-section {
  grid-column: 2;
  grid-row: 1;
  background-color: rgb(146, 142, 142);
}

.options-section {  
  grid-column: 1 /span 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 50% 48%;
  background-color: rgb(255, 223, 223);
}
