:root {
  --height: 1080px;
  --width: 1920px;
  --min-height: 1420;
  --min-width: 1584;
  --lower-color: rgb(255, 223, 223);
}

.main {
  height: var(--height);
  width: var(--width);
  background-color: white;
  grid-template-columns: calc(var(--width)*0.5) calc(var(--width)*0.5);
  grid-template-rows: calc(var(--height)*0.8) calc(var(--height)*0.2);
  display: grid;
}

.queue-section {
  padding: 1%;
}

.options-section {
  background-color: var(--lower-color);
}

.agent-section {
  overflow-y: scroll;
  padding: 1%;
}

.right-bottom {
  background-color: var(--lower-color);
}

