:root {
  --min-width: 1500px;
  --min-height: 800px;
  min-width: var(--min-width);
  min-height: var(--min-height);

  --header-border-color: rgba(0, 0, 0, 0.089);
  --header-border-size: 0px;
  --header-border-style: outset;

  --container-border-color: rgba(255, 255, 255, 0.171);
  --container-border-size: 0px;
  --container-border-style: solid;

  /*(almost) ALL COLORS USED ARE CHANGED HERE (Except font)*/
  --general-font-color: rgba(245, 245, 220, 0.87);
  --status-board-color: rgba(224, 224, 224, 0.301);

  --header-background-color: rgb(39, 39, 39);
  --main-background-color: rgb(39, 39, 39);
  --secondary-background-color: rgba(255, 255, 255, 0.226);
  --tertiary-background-color: rgba(224, 224, 224, 0.301);
  --fourth-background-layer: rgba(224, 224, 224, 0.479);
  background-color: var(--main-background-color);
}

.main {
  min-width: var(--min-width);
  min-height: var(--min-height);
  height: 100%;
  width: 100%;
  /*color: var(--general-font-color);*/

  grid-template-columns: 50% 50%;
  grid-template-rows: 93% 7%;
  position: absolute;
  display: grid;
  background-color: var(--main-background-color);
}
/*  background-color: rgb(241, 85, 85);*/
.queue-section {
  padding: 5px;
  padding-top: 0px;
  margin: 5px;
  margin-left: 10px;
  grid-column: 1;
  grid-row: 1;
  background-color: var(--secondary-background-color);
  border-radius: 10px;
}
.agent-section {
  padding: 5px;
  padding-top: 0px;
  margin: 5px;
  margin-right: 10px;
  grid-column: 2;
  grid-row: 1;
  background-color: var(--secondary-background-color);
  border-radius: 10px;
}

.options-section {  
  grid-column: 1 /span 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 50% 50%;

}
